<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.springboot.mapper.GoodsStockMapper">

   <insert id="insertStockBatch" parameterType="java.util.List">
    insert into it_goods_stock (
      goods_id
      ,barcode
      ,size
      ,qty
      ) VALUES
      <foreach collection="list" item="item" index="index" separator=",">
         (
            #{item.goodsId}
            ,#{item.barcode}
            ,#{item.size}
            ,#{item.qty}
         )
      </foreach>
   </insert>
</mapper>